---
import { PortableText } from "astro-portabletext";
import type { PAGE_BY_SLUG_RESULT } from "@starter/sanity-types";

type PageBuilderBlock = NonNullable<
  NonNullable<PAGE_BY_SLUG_RESULT>["builder"]
>[number];
type Props = Extract<PageBuilderBlock, { _type: "heroSection" }>;

const { heading, body } = Astro.props;
const Tag = (heading?.tag || "h2") as keyof HTMLElementTagNameMap;
---

<section>
  {heading?.title && <Tag>{heading.title}</Tag>}
  {body && body.length > 0 && <PortableText value={body} />}
</section>
